<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    workbench
  </div>
</md-toolbar>
<div layout="row" flex>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <md-card>
                <div layout="row" layout-sm="column" layout-align="space-around" height="400px">
                    <flot ng-show="showGraph" id="graph" dataset="chartData" options="chartOptions" height="100%" width="100%"></flot>
                    <md-progress-circular ng-hide="showGraph" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-card-content>
                    <h2 class="md-title">Benchmarks</h2>
                        <span class="md-display-2">11 <span class="md-display-1">ms</span></span>
                    <p>
                        Here's a graph of your current benchmark performance.
                    </p>
                    <p>
                        Hopefully in future this will have more info!
                    </p>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
