
.graph {
    background: #59adf7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59adf7 0%, #34a3ed 40%, #0676e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#59adf7), color-stop(40%,#34a3ed), color-stop(100%,#0676e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #59adf7 0%,#34a3ed 40%,#0676e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #59adf7 0%,#34a3ed 40%,#0676e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #59adf7 0%,#34a3ed 40%,#0676e5 100%); /* IE10+ */
    background: linear-gradient(135deg, #59adf7 0%,#34a3ed 40%,#0676e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59adf7', endColorstr='#0676e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 150px;
}

.color-red {
    color: #e75426;
}
.color-green {
    color: #2ed148;
}
